body {
	height: 100%;
	background-color: rgb(10, 10, 10);
}

#root {
	height: 100%;
}

a.link {
	display: flex;
	align-items: center;
	padding: 0.25rem;
	border-radius: 0.25rem;
	transition: 0.3s;
}

a.link:hover,
.project-card:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(51 65 85 / var(--tw-bg-opacity, 1));
	filter: drop-shadow(0px 0px 4px hsl(240, 3%, 50%));
}

a.link.email {
	padding-right: 0.35rem;
}

.card {
	padding: 0 0.5rem 0 0.5rem;
	border-radius: 0.75rem;
	text-align: center;
	cursor: default;
}

.project-card {
	background-color: #303036;
	margin-bottom: 1rem;
	color: white;
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	transition: 0.15s ease-in-out;
}

.project-title {
	font-size: large;
	font-weight: bold;
}

.project-description {
	margin-top: 0.25rem;
}

.project-technology {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.carousel-button {
	height: 4rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 9999px;
	transition: 0.15s ease-in;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-button:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1)) /* #3b82f6 */;
}
